# Лабораторная работа 1. Деревья классификации
Задача: 12. Revenue

In [1]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt, seaborn as sns
from sklearn import *

%matplotlib inline

/home/worker/conda/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/worker/conda/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
/home/worker/conda/lib/python3.6/site-packages/sklearn/learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)

In [2]:
data = pd.read_excel('data/доход(12).xls', skipinitialspace=True, )

In [3]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,income
0,40,Private,82465,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,<=50K
1,39,Self-emp-inc,329980,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States,>50K
2,20,Private,148294,Some-college,10,Never-married,Other-service,Own-child,White,Male,40,United-States,<=50K
3,50,Private,168212,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,65,United-States,>50K
4,38,State-gov,343642,HS-grad,9,Married-civ-spouse,Prof-specialty,Wife,White,Female,40,United-States,>50K
5,23,Local-gov,115244,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,60,United-States,<=50K
6,31,Private,162572,HS-grad,9,Never-married,Other-service,Own-child,White,Male,16,United-States,<=50K
7,58,Private,356067,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,40,United-States,<=50K
8,66,Private,271567,HS-grad,9,Separated,Machine-op-inspct,Not-in-family,Black,Male,40,United-States,<=50K
9,39,Self-emp-inc,180804,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,>50K
10,54,Self-emp-not-inc,123011,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,52,United-States,>50K
11,26,Private,109186,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,50,Germany,<=50K
12,51,Private,220537,HS-grad,9,Divorced,Machine-op-inspct,Not-in-family,White,Female,40,United-States,<=50K
13,34,Private,124827,Assoc-voc,11,Never-married,Transport-moving,Own-child,White,Male,40,United-States,<=50K
14,50,Private,767403,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K
15,42,Private,118494,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,44,United-States,>50K
16,38,Private,173208,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,25,United-States,<=50K
17,48,Private,107373,7th-8th,4,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,40,United-States,<=50K
18,33,Private,26973,Assoc-voc,11,Married-civ-spouse,Tech-support,Wife,White,Female,40,United-States,>50K
19,51,Private,191965,HS-grad,9,Widowed,Other-service,Unmarried,White,Female,32,United-States,<=50K
20,22,Private,122346,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Male,40,United-States,<=50K
21,19,?,117201,HS-grad,9,Never-married,?,Own-child,White,Male,30,United-States,<=50K
22,41,Private,198316,Some-college,10,Never-married,Craft-repair,Not-in-family,White,Male,50,Japan,<=50K
23,48,Local-gov,123075,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,35,United-States,>50K
24,42,Private,209370,HS-grad,9,Separated,Sales,Not-in-family,White,Female,30,United-States,<=50K
25,34,Private,33117,Some-college,10,Married-civ-spouse,Other-service,Husband,White,Male,40,United-States,<=50K
26,23,Private,129042,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,Black,Female,40,United-States,<=50K
27,56,Private,169133,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,50,Yugoslavia,<=50K
28,30,Private,201624,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Black,Male,45,?,<=50K
29,45,Private,368561,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,55,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,45,Self-emp-not-inc,133969,HS-grad,9,Married-civ-spouse,Sales,Husband,Asian-Pac-Islander,Male,50,South,>50K
972,35,Private,330664,Some-college,10,Never-married,Sales,Not-in-family,White,Male,40,United-States,<=50K
973,31,?,672412,11th,7,Separated,?,Not-in-family,Black,Male,40,United-States,<=50K
974,26,Private,122999,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,40,United-States,>50K
975,30,Private,111415,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,55,Germany,<=50K
976,33,Private,217235,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,20,United-States,<=50K
977,40,Private,121956,Bachelors,13,Married-spouse-absent,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,40,Cambodia,>50K
978,23,Private,120172,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,40,United-States,<=50K
979,35,Private,343403,Some-college,10,Never-married,Sales,Not-in-family,White,Female,40,United-States,<=50K
980,48,Self-emp-not-inc,104790,11th,7,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,>50K
981,39,Local-gov,473547,10th,6,Divorced,Handlers-cleaners,Own-child,Black,Male,40,United-States,<=50K
982,53,Local-gov,260106,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Female,50,United-States,<=50K
983,49,Federal-gov,168232,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,40,United-States,>50K
984,31,Private,348491,Bachelors,13,Never-married,Exec-managerial,Not-in-family,Black,Female,40,United-States,<=50K
985,36,Private,24106,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,>50K
986,60,Self-emp-inc,197553,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States,>50K
987,29,Private,421065,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Male,48,United-States,<=50K
988,54,Self-emp-inc,138852,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,45,United-States,>50K
989,28,?,169631,Assoc-acdm,12,Married-AF-spouse,?,Wife,White,Female,3,United-States,<=50K
990,34,Private,379412,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,50,United-States,<=50K
991,30,Private,181992,Some-college,10,Never-married,Sales,Not-in-family,Black,Female,35,United-States,<=50K
992,19,Private,365640,HS-grad,9,Never-married,Priv-house-serv,Not-in-family,White,Female,45,?,<=50K
993,26,Private,236564,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
994,47,Private,363418,Some-college,10,Never-married,Sales,Not-in-family,White,Male,70,United-States,>50K
995,50,Private,112351,HS-grad,9,Divorced,Exec-managerial,Unmarried,White,Male,38,United-States,<=50K
996,30,Private,204704,Bachelors,13,Never-married,Exec-managerial,Unmarried,White,Female,45,United-States,>50K
997,44,Private,54611,Some-college,10,Divorced,Machine-op-inspct,Not-in-family,White,Male,50,United-States,<=50K
998,49,Private,128132,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,60,United-States,>50K
999,75,Self-emp-not-inc,30599,Masters,14,Married-spouse-absent,Prof-specialty,Not-in-family,White,Female,50,United-States,<=50K
1000,37,Private,379522,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,55,United-States,>50K

In [4]:
data.rename(columns={n:n.strip() for n in data.columns}, inplace=True)
for c in data.columns:
    if data[c].dtype != np.dtype('O'): continue
    data[c] = data[c].str.strip()

In [5]:
data.rename(columns={'sex': 'male'}, inplace=True)

In [6]:
data['male'] = 1 * (data['male'] == 'Male')

In [7]:
data['income'].value_counts()

<=50K    733
>50K     268
Name: income, dtype: int64

In [8]:
data['income_gt50'] = 1 * (data['income'] == '>50K')

In [9]:
X_train = data.iloc[:,:-1].drop('income', axis=1)
y_train = data.iloc[:,-1]

In [10]:
display(X_train.head(), y_train.head())

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,male,hours-per-week,native-country
0,40,Private,82465,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,1,40,United-States
1,39,Self-emp-inc,329980,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,1,50,United-States
2,20,Private,148294,Some-college,10,Never-married,Other-service,Own-child,White,1,40,United-States
3,50,Private,168212,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,1,65,United-States
4,38,State-gov,343642,HS-grad,9,Married-civ-spouse,Prof-specialty,Wife,White,0,40,United-States

0    0
1    1
2    0
3    1
4    1
Name: income_gt50, dtype: int64

In [11]:
X_train.race.value_counts()

White                 849
Black                 111
Asian-Pac-Islander     32
Amer-Indian-Eskimo      6
Other                   3
Name: race, dtype: int64

In [12]:
X_train.workclass.value_counts()

Private             684
Self-emp-not-inc     74
Local-gov            67
?                    61
Self-emp-inc         45
State-gov            40
Federal-gov          29
Without-pay           1
Name: workclass, dtype: int64

In [13]:
X_train.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'male',
       'hours-per-week', 'native-country'],
      dtype='object')

In [14]:
cat_feats = ['workclass', 'education', 'marital-status',
             'occupation', 'relationship', 'race', 'native-country']
lencs = dict()
bnrzs = dict()
bnrzd = dict()

In [15]:
for f in cat_feats:
    lencs[f] = preprocessing.LabelEncoder().fit(X_train[f])
    X_train.loc[:,f] = lencs[f].transform(X_train[f])
    bnrzs[f] = preprocessing.LabelBinarizer().fit(X_train.loc[:,f])
    bnrzd[f] = bnrzs[f].transform(X_train[f])
    bnrzd[f] = pd.DataFrame(bnrzd[f], columns=[X_train[f].name + str(n) for n in bnrzs[f].classes_])

X_train.drop(cat_feats, axis=1, inplace=True)
X_train = pd.concat([X_train] + list(bnrzd.values()), axis=1)

In [16]:
X_train.columns

Index(['age', 'fnlwgt', 'education-num', 'male', 'hours-per-week',
       'workclass0', 'workclass1', 'workclass2', 'workclass3', 'workclass4',
       'workclass5', 'workclass6', 'workclass7', 'education0', 'education1',
       'education2', 'education3', 'education4', 'education5', 'education6',
       'education7', 'education8', 'education9', 'education10', 'education11',
       'education12', 'education13', 'education14', 'marital-status0',
       'marital-status1', 'marital-status2', 'marital-status3',
       'marital-status4', 'marital-status5', 'marital-status6', 'occupation0',
       'occupation1', 'occupation2', 'occupation3', 'occupation4',
       'occupation5', 'occupation6', 'occupation7', 'occupation8',
       'occupation9', 'occupation10', 'occupation11', 'occupation12',
       'occupation13', 'occupation14', 'relationship0', 'relationship1',
       'relationship2', 'relationship3', 'relationship4', 'relationship5',
       'race0', 'race1', 'race2', 'race3', 'race4', 'native-country0',
       'native-country1', 'native-country2', 'native-country3',
       'native-country4', 'native-country5', 'native-country6',
       'native-country7', 'native-country8', 'native-country9',
       'native-country10', 'native-country11', 'native-country12',
       'native-country13', 'native-country14', 'native-country15',
       'native-country16', 'native-country17', 'native-country18',
       'native-country19', 'native-country20', 'native-country21',
       'native-country22', 'native-country23', 'native-country24',
       'native-country25', 'native-country26', 'native-country27',
       'native-country28', 'native-country29'],
      dtype='object')

In [17]:
X_train.head()

,age,fnlwgt,education-num,male,hours-per-week,workclass0,workclass1,workclass2,workclass3,workclass4,...,native-country20,native-country21,native-country22,native-country23,native-country24,native-country25,native-country26,native-country27,native-country28,native-country29
0,40,82465,10,1,40,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,39,329980,13,1,50,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,20,148294,10,1,40,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,50,168212,16,1,65,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,38,343642,9,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [18]:
X_tr, X_te, y_tr, y_te = model_selection.train_test_split(
    X_train,
    y_train,
    train_size=.8)

/home/worker/conda/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [19]:
dtclf = model_selection.GridSearchCV(
    tree.DecisionTreeClassifier(
        criterion='gini',
        splitter='best',
    ),
    [
        {
            'max_depth': [2, 4,6,8,16,32],
        },
        {
            'min_samples_split': [5, 10, 30, 50,100]
        }
    ],
    scoring=['neg_log_loss', 'accuracy', 'roc_auc'],
    refit='neg_log_loss'
)

In [20]:
dtclf.fit(X_tr, y_tr)

GridSearchCV(cv=None, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid=[{'max_depth': [2, 4, 6, 8, 16, 32]}, {'min_samples_split': [5, 10, 30, 50, 100]}],
       pre_dispatch='2*n_jobs', refit='neg_log_loss',
       return_train_score='warn',
       scoring=['neg_log_loss', 'accuracy', 'roc_auc'], verbose=0)

In [21]:
dtclf.best_params_

{'max_depth': 2}

In [22]:
def show_scorings(clf, X, y):
    for score in [
        metrics.accuracy_score,
        metrics.log_loss,
        metrics.r2_score,
    ]:
        yhat = clf.predict(X)
        print('%s score:\t %s' % (score.__name__,
                                    score(y, yhat)))

In [23]:
show_scorings(dtclf, X_tr, y_tr)

accuracy_score score:	 0.79625
log_loss score:	 7.03731966832
r2_score score:	 -0.0656729103331

In [24]:
dtclf.score(X_tr, y_tr)

-0.42742102728979248

In [25]:
dtclf.score(X_te, y_te)

-0.42956817077174519

In [26]:
chi2score = pd.DataFrame(
    np.c_[(X_tr.columns, *feature_selection.chi2(X_tr, y_tr))],
    columns=['var', 'chi2', 'chi2pval'])
chi2score.sort_values('chi2pval').head(20)

                var     chi2     chi2pval
1            fnlwgt  35279.9            0
4    hours-per-week   193.39  5.78745e-44
0               age  172.764  1.84251e-39
30  marital-status2  82.6445  9.82227e-20
50    relationship0  64.9581  7.65083e-16
32  marital-status4  60.7551  6.46347e-15
45     occupation10  43.5288  4.17775e-11
2     education-num  40.8515  1.64244e-10
53    relationship3  36.4141  1.59541e-09
9        workclass4  33.5673  6.88397e-09
51    relationship1  33.3398  7.73833e-09
39      occupation4  21.4475  3.63653e-06
25      education12  20.3276  6.52512e-06
43      occupation8  20.1905     7.01e-06
55    relationship5  19.7496  8.82813e-06
28  marital-status0  15.4572  8.43958e-05
22       education9   14.385  0.000148987
58            race2  12.1684  0.000486058
54    relationship4  10.6747   0.00108613
23      education10  10.4057   0.00125627

In [27]:
chi2feats = chi2score.loc[chi2score['chi2pval'] <= 1e-4, 'var']

In [28]:
dtclf.fit(X_tr[chi2feats], y_tr)

GridSearchCV(cv=None, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid=[{'max_depth': [2, 4, 6, 8, 16, 32]}, {'min_samples_split': [5, 10, 30, 50, 100]}],
       pre_dispatch='2*n_jobs', refit='neg_log_loss',
       return_train_score='warn',
       scoring=['neg_log_loss', 'accuracy', 'roc_auc'], verbose=0)

In [29]:
dtclf.best_score_

-0.45860915556388521

In [30]:
display(
    dtclf.score(X_tr[chi2feats], y_tr),
    dtclf.score(X_te[chi2feats], y_te),
)

-0.42742102728979248

-0.42956817077174519

In [31]:
show_scorings(dtclf, X_tr[chi2feats], y_tr)

accuracy_score score:	 0.79625
log_loss score:	 7.03731966832
r2_score score:	 -0.0656729103331

In [32]:
show_scorings(dtclf, X_te[chi2feats], y_te)

accuracy_score score:	 0.791044776119
log_loss score:	 7.21708957893
r2_score score:	 0.02042237178

In [33]:
t = dtclf.best_estimator_

In [34]:
tree.export_graphviz(t, out_file='clf.dot')

In [35]:
!dot -Tpng clf.dot -o clf.png

![tree](clf.png)

In [36]:
display(list(chi2feats)[8],
list(chi2feats)[2])

'marital-status4'

'education-num'